<mat-grid-list cols="3">
    <mat-grid-tile
        *ngFor="let item of LibraryImages">    
      <mat-card>
          <mat-card-header>
              <mat-card-title>{{item.title}}</mat-card-title>
              <mat-card-subtitle>Some text information</mat-card-subtitle>
              <img mat-card-avatar [src]="item.avatar">
          </mat-card-header>
          
          <img mat-card-image [src]="item.path">
          
          <mat-card-actions>
            <button *ngIf="activityName" class="primary" mat-button (click)="setBaseImage(item.path)">Add To Current Activity</button>
          </mat-card-actions>
          <mat-card-footer>This image is licensed to ILA-Canvas</mat-card-footer>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>